header {
    text-align: center;
    /*background-image: linear-gradient(rgb(108, 45, 108), rgb(208, 117, 132));*/

}

.first {
    min-height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(_images/back2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.first h1 {
    font-family: "Patua One", serif;
    font-size: 80px;
    color: rgb(86, 56, 86);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(27, 11, 43);
    margin-top: 180px;
    
}

hr {
    border: 3px solid rgb(37, 18, 56);
    width: 50%;
    box-shadow: 0 8px 12px rgb(100, 79, 121);
}

.first h2 {
    font-family: "Jersey 10", sans-serif;
    font-size: 40px;
    color: rgb(37, 18, 56);
    margin-top: 10px;
}

.first ul {
    list-style-type: none;
    padding: 10px;
}

.first li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(136, 94, 136);
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-size: 25px;
    margin-right: 15px;
    box-shadow: 0 8px 12px rgb(37, 18, 56);
    margin-bottom: 20px;
}

.first li a {
    color: rgb(65, 55, 65);
    text-decoration: none;
}

.first a:hover {
    background-color: rgba(252, 207, 186, 255);
}

.first .cnav {
    background-color: rgb(49, 29, 68);

}

.about {
    background-image: linear-gradient(rgb(108, 45, 108), rgb(208, 117, 132));
    min-height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.about h1 {
    text-align: center;
    background-color: rgba(252, 207, 186, 255);
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-size: 60px;
}

.about img {
    border-radius: 50%;
    border-style: double;
    border-color: rgb(63, 4, 63);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

.about p {
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    font-size: 28px;
}

.skills {
    background-color: rgb(208, 117, 132);
    min-height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.skills h1 {
    text-align: center;
    background-color: rgba(252, 207, 186, 255);
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-size: 60px;
    display: block;
}

.boxplace {
    text-align: center;
}

.box {
    display: inline-block;
    border: 2px solid;
    color: rgb(28, 45, 77);
    background-color: rgb(226, 215, 207);
    margin: 30px;
    width: 400px;
    align-items: center;
    font-family: "Rajdhani", sans-serif;
    font-size: 28px;
    box-shadow: 0 3px 6px rgb(57, 71, 97);
}

.box h2 {
    font-family: "Jersey 10", sans-serif;
}

.box ul {
    list-style-type: none;
    text-align: center;
    padding: 2px;
}

.box img {
    width: 95%;
    height: 80%;
}

.achievements {
    background-color: rgb(208, 117, 132);
    min-height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.achievements h1 {
    text-align: center;
    background-color: rgba(252, 207, 186, 255);
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-size: 60px;
}

.projects {
    background-color: rgb(208, 117, 132);
    min-height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    text-align: center;
}

.projects h1 {
    text-align: center;
    background-color: rgba(252, 207, 186, 255);
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-size: 60px;
}

.projects h2 {
    font-family: "Patua One", serif;
    color: rgba(76, 28, 112, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(27, 11, 43);
    text-align: center;
}

.projects a {
    text-decoration: none;
    text-align: center;
    color: beige;
    background-color: rgba(76, 28, 112, 255);
    box-shadow: 0 3px 6px rgb(158, 108, 172);
}

.projects a:hover {
    background-color: rgb(142, 77, 142);
}

.scrolling {
    background-image: linear-gradient(rgb(56, 65, 89), rgb(50, 33, 59));
    overflow: auto;
    white-space: nowrap;
    padding: 8px;
    border: 2px solid rgb(28, 45, 77);
}

.scrolling img {
    padding: 8px;
}

.cv {
    background-color: rgb(208, 117, 132);
    min-height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cv h1 {
    text-align: center;
    background-color: rgba(252, 207, 186, 255);
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-size: 60px;
    display: block;
}

.cv a {
    display: block;
    text-align: center;
    border-style: solid;
    border-color: rgb(101, 70, 101);
    border-radius: 20%;
    width: 95%;
    background-color: rgb(170, 168, 168);
    font-size: 30px;
    text-decoration: none;
    font-family: "Rajdhani", sans-serif;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 0 3px 6px rgb(158, 108, 172);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(27, 11, 43);
}

.cv a:hover {
    background-color: lavender;
}

.contact {
    background-image: linear-gradient(rgb(208, 117, 132), rgb(108, 45, 108));
    min-height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact h1 {
    text-align: center;
    background-color: rgba(252, 207, 186, 255);
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 20px;
}

.c-align {
    text-align: center;
    border: 1px solid;
    background-color: rgb(179, 175, 172);
    padding: 2px;
    box-shadow: 0 8px 12px rgb(57, 54, 52);
    display: block;

}

.c-align h2 {
    font-family: "Patua One", serif;
    text-decoration: underline;
    font-size: 28px;
}

.c-align p {
    font-family: "Rajdhani", sans-serif;
    font-size: 23px;
}

.c-align a {
    font-family: "Rajdhani", sans-serif;
    font-size: 23px;
    text-decoration: none;
    color: rgb(29, 29, 66);
}

.c-align a:hover {
    background-color: rgb(171, 113, 113);
}

.contact p a {
    background-color: rgba(76, 28, 112, 255);
    text-align: center;
    color: beige;
    text-decoration: none;
    align-items: center;
    margin-top: 0px;
    font-size: 18px;
    box-shadow: 0 3px 6px rgb(158, 108, 172);
    font-family: "Rajdhani", sans-serif;
}

.end {
    min-height: 15vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(219, 181, 240, 255);
}

.end p {
    font-family: "Patua One", serif;
    font-size: 16px;

}

.end a {
    font-family: "Rajdhani", sans-serif;
    font-size: 22px;
}